<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">

    <title>Student Registration</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

</head>

<body>

    <div class="center">

        <h1>Student Registration</h1>

        <form action="/register" method="POST" id="reg-form">
            <div class="txt_field">

                <input type="name" id="firstname" name="firstname">

                <span></span>

                <label>Firstname</label>

            </div>
            <div class="txt_field">

                <input type="name" id="lastname" name="lastname">

                <span></span>

                <label>Lastname</label>

            </div>
            <div class="txt_field">

                <input type="name" id="username" name="username">

                <span></span>

                <label>Username</label>

            </div>
            <div class="txt_field">

                <input type="date" id="dob" name="dob">

                <span></span>

                <label>DOB</label>

            </div>
            <div class="txt_field">

                <input type="number" id="adhaar" name="adhaar">

                <span></span>

                <label>Adhaar Number</label>

            </div>
            <div class="txt_field">

                <input type="number" id="phone" name="phone">

                <span></span>

                <label>Phone Number</label>

            </div>
            <div class="txt_field">


                <button type="submit" class="btnRegister" value="register" id="automation" formaction="/register"> Fill by Automation</button>




        </form>

        <button type="submit" class="btnRegister" value="register" id="reg" formaction="/register2"> Register</button>
    </div>
    <!-- <script>document.getElementById("reg").addEventListener("click", function () {
            face_g();
        });</script> -->

</body>

</html>